* {
	text-align: center;
	color: purple
}

.jumbotron {
    background-color: #f1eeee;
    display: block;

}

.btn-info:hover{
	background-color: rosybrown;
}

.btn-warning:hover{
	background-color: red;
}

#div1{
	background-color: lightblue;
}

#exampleModalToggleLabel{
	color: black;
}

.modal-body{
	color: brown;
}

#exampleModalToggleLabel2{
	color: black;
}

h4{
	color: blueviolet;
}

h4:hover{
 	transform: scale(1.1);
 	color: blue;
 }

.display-4{
	background-color: #f1eeee;
	 display: block;
}
